<!doctype html>
<html lang="en">
<head>
    <title>SpringHow html to pdf</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>

<table border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
	<tbody>
		<tr>
			<td>IMAGE</td>
			<td>
			<p>COMPANY NAME</p>

			<p>Address:</p>
			</td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
	<tbody>
		<tr>
			<td>
			<table border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
				<tbody>
					<tr>
						<td>EMP_ID:</td>
						<td>DOJ</td>
					</tr>
					<tr>
						<td>EMP NAME:</td>
						<td>DOB</td>
					</tr>
					<tr>
						<td>Branch Code:</td>
						<td>Gender</td>
					</tr>
					<tr>
						<td>Designation:</td>
						<td>PAN</td>
					</tr>
					<tr>
						<td>Bank AC Name:</td>
						<td>PF No</td>
					</tr>
					<tr>
						<td>Location:</td>
						<td>PF UAN</td>
					</tr>
				</tbody>
			</table>

			<table border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
				<tbody>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>BASIC</td>
					</tr>
					<tr>
						<td>HOUSE RENT ALLOWANCE</td>
					</tr>
					<tr>
						<td>TOTAL</td>
					</tr>
					<tr>
						<td>PF</td>
					</tr>
					<tr>
						<td>
						<p>NET PAY</p>

						<p>(In words)</p>
						</td>
					</tr>
				</tbody>
			</table>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>*<small>This is a Computer generated document, No signature is required. This document contains confidential information.</small></p>

</body>
</html>


