<!doctype html>

<html>

    <head>

        <link rel="stylesheet" href="../dist/css/default/zebra_datepicker.min.css" type="text/css">
     
    </head>
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
	<script src="../dist/zebra_datepicker.min.js"></script>
	<script src="examples.js"></script>
    <body>

       

        <div class="">

            <div class="">

                <div class="">

                    
           
                    <!-- =========================================================================================== -->


                    
                    $('#datepicker').Zebra_DatePicker();
                    </pre>

                    <div class="">
                        <div class="">
                            <div class="">
                                <input id="datepicker" type="text" class="form-control" data-zdp_readonly_element="true">
                            </div>
                        </div>
                    </div>


                    <!-- =========================================================================================== -->


                    
                    $('#datepicker').Zebra_DatePicker({
                        direction: 1
                    });
                    </pre>

                    <div class="">
                        <div class="">
                            <div class="">
                                <input id="datepicker-future-tomorrow" type="text" class="form-control" data-zdp_readonly_element="false">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </body>

</html>